  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="First">Content 1
        <mat-form-field>
            <mat-label>Snack bar duration (seconds)</mat-label>
            <input type="number" [(ngModel)]="durationInSeconds" matInput>
          </mat-form-field>
          
          <button mat-stroked-button (click)="openSnackBar()" aria-label="Show an example snack-bar" [matTooltip]="'Click to see a snackbar'">
            Pizza party
          </button>        
    </mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group>