<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()" [matTooltip]="'Toggle Menu'">
    <mat-icon style="color:white">menu</mat-icon>
  </button>
  <span class="app-brand"><a href="/home">My App</a></span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" matBadge="8" matBadgePosition="after" (click)="openMessages()" [matTooltip]="'Notifications'">
    <mat-icon style="color:white">message</mat-icon>
  </button>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="openSnackBar()" [matTooltip]="'Favorite'">
    <mat-icon style="color:white">favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [matTooltip]="'Share'">
    <mat-icon style="color:white">share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer #sidenav mode="side" opened>
    <button mat-button class="menu-button" [matTooltip]="'Go to Home'">
      <mat-icon>home</mat-icon>
      <span class="menu-item"><a href="/home">Home</a></span>
    </button>
  
    <mat-divider></mat-divider>
    
    <button *ngFor="let item of menuItens" mat-button class="menu-button" [matTooltip]="item.tooltip">
        <mat-icon [innerHTML]="item.icon"></mat-icon>
        <span class="menu-item"><a [href]="item.link">{{ item.caption }}</a></span>
    </button>

  </mat-drawer>
  <mat-drawer-content>
    <div style="padding:20px;">
      <router-outlet></router-outlet>
    </div>        
  </mat-drawer-content>
</mat-drawer-container>
